body {
    box-sizing: border-box;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}

li {
    width: 24%;
    padding: 5px;
}

img {
    display: block;
    width: 100%;
    height: 200px;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats-item {
    display: flex;
    align-items: center;
}
.material-icons{
    margin-right: 5px;
}